# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Arquivos temporários
*.tmp
*.log
*.bak

# Pastas de dados de tamanho considerável
data/processed/*
!data/processed/.gitkeep

# Banco de dados
database/*.db
database/*.sqlite
!database/.gitkeep

# Windows
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
